# Core app
DEBUG=""
SITE_NAME=""
SECRET_KEY=""
ADMIN_URL=""
DOMAIN=""
COOKIE_SECURE=""
SIGNING_KEY=""

# Email
EMAIL_HOST=""
EMAIL_PORT=""
DEFAULT_FROM_EMAIL=""

# Database
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# Bank config
BANK_NAME=""
BANK_CODE=""
BANK_BRANCH_CODE=""
CURRENCY_CODE_KES=""
CURRENCY_CODE_USD=""
CURRENCY_CODE_GBP=""

# Celery
CELERY_FLOWER_USER=""
CELERY_FLOWER_PASSWORD=""
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Seed superuser
SEED_SUPERUSER_EMAIL=""
SEED_SUPERUSER_PASSWORD=""
SEED_SUPERUSER_FIRST_NAME=""
SEED_SUPERUSER_MIDDLE_NAME=""
SEED_SUPERUSER_LAST_NAME=""
SEED_SUPERUSER_SECURITY_QUESTION=""
SEED_SUPERUSER_SECURITY_ANSWER=""
SEED_SUPERUSER_ID_NO=""
SEED_SUPERUSER_ROLE=""